import telegram
from telegram import Update
from telegram.ext import Updater, CommandHandler, MessageHandler, Filters, CallbackContext

# inserisci il numero del token del tuo bot qui
TOKEN = "6059496946:AAHAW70CgYWpVALT5vDyPDewEFWBBighK30"

# funzione per gestire l'evento di avvio del bot
def start(update: Update, context: CallbackContext) -> None:
    context.bot.send_message(chat_id=update.effective_chat.id, text="Ciao, scrivi di seguito il prodotto che stai cercando.")

# funzione per gestire l'input dell'utente
def search_product(update: Update, context: CallbackContext) -> None:
    product = update.message.text.lower()
    context.bot.send_message(chat_id=update.effective_chat.id, text="Bene. Al seguente link troverai i prodotti in ordine di qualità. Oppure imposta un budget.", reply_markup=telegram.ReplyKeyboardMarkup([[telegram.KeyboardButton("I migliori su Amazon")],[telegram.KeyboardButton("Imposta un budget")]], resize_keyboard=True))
    context.user_data['product'] = product

# funzione per gestire il pulsante "I migliori su Amazon"
def best_products(update: Update, context: CallbackContext) -> None:
    product = context.user_data['product']
    product = product.replace(" ", "+")
    url = "https://www.amazon.it/s?k=" + product + "&s=review-rank&dc&%2F%3F/?tag=baffolack-21"
    context.bot.send_message(chat_id=update.effective_chat.id, text=url)

# funzione per gestire il pulsante "Imposta un budget"
def set_budget(update: Update, context: CallbackContext) -> None:
    context.bot.send_message(chat_id=update.effective_chat.id, text="Questa funzionalità non è ancora disponibile.")

def main() -> None:
    updater = Updater(TOKEN)
    dispatcher = updater.dispatcher

    # gestisce l'evento di avvio del bot
    dispatcher.add_handler(CommandHandler("start", start))

    # gestisce l'input dell'utente
    dispatcher.add_handler(MessageHandler(Filters.text & ~Filters.command, search_product))

    # gestisce il pulsante "I migliori su Amazon"
    dispatcher.add_handler(MessageHandler(Filters.regex('^I migliori su Amazon$'), best_products))

    # gestisce il pulsante "Imposta un budget"
    dispatcher.add_handler(MessageHandler(Filters.regex('^Imposta un budget$'), set_budget))

    updater.start_polling()
    updater.idle()

if __name__ == '__main__':
    main()
